{% extends 'padre.html' %}

{% block head %}
    {% load static %}
    <meta name="description" content="Cambiar Contraseña" />
    <link href="{% static 'css/cambiar_contraseña.css' %}" rel="stylesheet" />
    <title>Cambiar Contraseña</title>
{% endblock head %}

{% block contenidoQueCambia %}
<main class="container-fluid main-change-password">
    <h1>Cambiar Contraseña</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Contraseña</button>
    </form>
</main>
{% endblock contenidoQueCambia %}