{% extends 'padre.html' %}

{% block head %}
    {% load static %}
    <meta name="description" content="Contactanos" />
    <link href="{% static 'css/perfilUsuario.css' %}" rel="stylesheet" />
    <title>Contactanos</title>
{% endblock head %}

{% block contenidoQueCambia %}
<main class="container-fluid d-flex justify-content-center align-items-center flex-column">
    
    <form class="d-flex justify-content-center align-items-center flex-column card t-white w-50 py-3" method="post">
        <h2 class="t-white mb-4">Contactanos</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-productos">Enviar Mensaje</button>
    </form>

    <a class="nav-link t-black btn-productos w-50 my-5 text-center" aria-current="page" href="{% url 'MensajesContactanos' %}">Mensajes recibidos</a>
</main>
{% endblock contenidoQueCambia %}