{% extends 'padre.html' %}

{% block head %}
{% load static %}
<meta name="description" content="Editar Dirección" />
<link href="{% static 'css/mensajesContacto.css' %}" rel="stylesheet" />
<title>Editar Dirección</title>
{% endblock head %}

{% block contenidoQueCambia %}

<main class="container-fluid d-flex justify-content-center align-items-center">
    <div class="card p-5">
        <h2 class="t-white">Gracias por su visita! vuelva pronto</h2>
    </div>
    
</main>

<script>
    setTimeout(function () {
        window.location.href = "{% url 'Inicio' %}";
    }, 1000);
</script>



{% endblock contenidoQueCambia %}