{% extends 'padre.html' %}

{% block head %}
{% load static %}
<meta name="description" content="Editar Dirección" />
<link href="{% static 'css/mensajesContacto.css' %}" rel="stylesheet" />
<title>Editar Dirección</title>
{% endblock head %}

{% block contenidoQueCambia %}
<main class="container-fluid main-edit-address t-white">
    <h2>Mensajes de Contáctanos</h2>
    <div class="table-responsive card">
        <table class="table table-striped">
            <thead class="t-white">
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Mensaje</th>
                    <th>Fecha de Envío</th>
                    <th>Leído</th>
                </tr>
            </thead>
            <tbody class=" t-white">
                {% for mensaje in mensajes_contactanos %}
                <tr class="t-white">
                    <td class="text-break"><p class="t-white">{{ mensaje.nombre }}</p></td>
                    <td><p class="t-white">{{ mensaje.correo }}</p></td>
                    <td class="text-break"><p class="t-white">{{ mensaje.mensaje }}</p></td>
                    <td class="text-break"><p class="t-white">{{ mensaje.fecha_envio }}</p></td>
                    <td class="text-break"><p class="t-white">{{ mensaje.leido }}</p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</main>
{% endblock contenidoQueCambia %}