.landing-card1{
    background: linear-gradient(to bottom, #000000, #00000080), url("https://res.cloudinary.com/dpsygq9p6/image/upload/v1696991976/Botines/kids.jpg");
}
.landing-card2{
    background: linear-gradient(to bottom, #000000, #00000080), url("https://res.cloudinary.com/dpsygq9p6/image/upload/v1696991850/Botines/women.jpg");
}
.landing-card3{
    background: linear-gradient(to bottom, #000000, #00000080), url("https://res.cloudinary.com/dpsygq9p6/image/upload/v1696991838/Botines/men.jpg");
}


.landing-card1, .landing-card2, .landing-card3{
    width: 30vw;
    height: 45vh;
    background-size: cover;
}

.carrousel-img{
    width: 75vw;
    height: 70vh;
    object-fit: cover;
    object-position: 0 -50px;
    filter: brightness(50%);
}

.inicio-title{
    font-size: 10vw;
    translate: 0 -100px;
}