<!-- Card -->
{% for producto in productos %}
    <div class="product-default-single-item product-color--golden swiper-slide">
        <div class="image-box">
            <a href="#" class="image-link">
                <img src="{{producto.imagen1.url}}" alt="{{producto.nombre}}">
                <img src="{{producto.imagen2.url}}" alt="{{producto.nombre}}">
            </a>
            <div class="tag">
                <span>sale</span>
            </div>
            <div class="action-link">
                <div class="action-link-left">
                    <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalAddcart">Add to Cart</a>
                </div>
                <div class="action-link-right">
                    <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalQuickview"><i
                            class="icon-magnifier"></i></a>
                    <a href="wishlist.html"><i class="icon-heart"></i></a>
                    <a href="compare.html"><i class="icon-shuffle"></i></a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-left">
                <h6 class="title"><a href="#">{{producto.nombre}}</a></h6>
                <ul class="review-star">
                    <li class="fill"><i class="ion-android-star"></i></li>
                    <li class="fill"><i class="ion-android-star"></i></li>
                    <li class="fill"><i class="ion-android-star"></i></li>
                    <li class="fill"><i class="ion-android-star"></i></li>
                    <li class="empty"><i class="ion-android-star"></i></li>
                </ul>
            </div>
            <div class="content-right">
                <span class="price">{{producto.precio}}</span>
            </div>
        </div>
    </div>
{% endfor %}