{% extends 'padre.html' %}
{% block head %}
    {% load static %}
    <meta name="description" content="" />
    <link href="{% static 'css/detalleProducto.css' %}" rel="stylesheet" />
    <title>Lista de productos</title>
{% endblock head %}
{% block contenidoQueCambia %}
<main class="container-fluid main-products">
    <section class="py-5">
        <div class="container px-5 px-lg-5 my-5 card t-white my-5 py-3 ">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ producto.imagen1.url }}" alt="{{ producto.nombre }}" /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: {{ producto.id }}</div>
                    <h1 class="display-5 fw-bolder">{{ producto.nombre }}</h1>
                    <div class="fs-5 mb-5">
                        {% if producto.precioDescuento %}
                            <span class="text-decoration-line-through">${{ producto.precio }}</span>
                            <span>${{ producto.precioDescuento }}</span>
                        {% else %}
                            <span>${{ producto.precio }}</span>
                        {% endif %}
                    </div>
                    <p class="lead">{{ producto.descripcion }}</p>
                    <div class="d-flex">
                        
                        {% if producto.disponible %}
                            <form class="d-flex" method="post" action="{% url 'AgregarCarrito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ producto.id }}">
                                <input class="form-control text-center me-3 label" id="inputQuantity" name="cantidad" type="number" value="1" style="max-width: 3rem" min="1" max="{{ producto.cantidad }}" />
                                <button class="btn btn-outline-dark btn-productos flex-shrink-0" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Agregar al carrito
                                </button>
                            </form>

                        {% else %}
                            <h3 class="t-white">Producto no disponible</h3>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock contenidoQueCambia %}