<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <ul class="d-flex justify-content-evenly align-items-center flex-row">
                    <li class="d-flex justify-content-center align-items-center"><a href="#">
                        <img src="https://res.cloudinary.com/dpsygq9p6/image/upload/v1697421172/Botines/logo_twitter.webp" alt="logo_twitter" class="logos-footer">
                    </a></li>
                    <li class="d-flex justify-content-center align-items-center"><a href="#">
                        <img src="https://res.cloudinary.com/dpsygq9p6/image/upload/v1697421172/Botines/logo_facebook.webp" alt="logo_facebook" class="logos-footer">
                    </a></li>
                    <li class="d-flex justify-content-center align-items-center"><a href="#">
                        <img src="https://res.cloudinary.com/dpsygq9p6/image/upload/v1697421172/Botines/logo_instagram.png" alt="logo_instagram" class="logos-footer">
                    </a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-between align-items-center">
                <ul class="d-flex justify-content-between align-items-center flex-row t-white">
                    <li class="d-flex justify-content-between align-items-center flex-row me-2">
                        <p class="m-1">&copy; Botines.NP 2023.</p>
                        <p class="m-1">All Rights Reserved.</p>
                    </li>
                    <li class="d-flex justify-content-between align-items-center flex-row ms-2">
                        <p class="m-1">Sitio web hecho por:</p>
                        <p class="m-1"><a href="https://portafolio-kevcesca.vercel.app/" class="t-white">Kevin Ceron</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>